

.input_line {
    fill: none;
    stroke: lightgray;
    stroke-width: 2;
}

.output_line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}






.page {
	display: table;
	width: 100%;
}
.page-content{
	display: table-cell;
	padding: 20px;
}
.sidebar {
	display: table-cell;
	width: 300px;
	min-width: 300px;
	padding: 20px;
	vertical-align: top;
}




.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.checkmark-container input:checked ~ .checkmark_median {
  background-color: gold;
}

.median_filter {
    fill: gold;
    stroke: gold;
}


.checkmark-container input:checked ~ .checkmark_min {
  background-color: blue;
}

.min_filter {
    fill: blue;
    stroke: blue;
}


.checkmark-container input:checked ~ .checkmark_max {
  background-color: green;
}

.max_filter {
    fill: green;
    stroke: green;
}


.checkmark-container input:checked ~ .checkmark_gaussian {
  background-color: CornflowerBlue;
}

.gaussian_filter {
    fill: CornflowerBlue;
    stroke: CornflowerBlue;
}


.checkmark-container input:checked ~ .checkmark_mean {
  background-color: DeepPink;
}

.mean_filter {
    fill: DeepPink;
    stroke: DeepPink;
}


.checkmark-container input:checked ~ .checkmark_savitzky_golay {
  background-color: grey;
}

.savitzky_golay_filter {
    fill: grey;
    stroke: grey;
}


.checkmark-container input:checked ~ .checkmark_cutoff {
  background-color: darkgreen;
}

.cutoff_filter {
    fill: darkgreen;
    stroke: darkgreen;
}


.checkmark-container input:checked ~ .checkmark_butterworth {
  background-color: pink;
}

.butterworth_filter {
    fill: pink;
    stroke: pink;
}


.checkmark-container input:checked ~ .checkmark_chebyshev {
  background-color: brown;
}

.chebyshev_filter {
    fill: brown;
    stroke: brown;
}


.checkmark-container input:checked ~ .checkmark_subsample {
  background-color: slateblue;
}

.subsample_filter {
    fill: slateblue;
    stroke: slateblue;
}


.checkmark-container input:checked ~ .checkmark_rdp {
  background-color: darkgrey;
}

.rdp_filter {
    fill: darkgrey;
    stroke: darkgrey;
}


.checkmark-container input:checked ~ .checkmark_tda {
  background-color: orange;
}

.tda_filter {
    fill: orange;
    stroke: orange;
}
