
.page {
	display: table;
	width: 100%;
}
.page-content{
	display: table-cell;
	padding: 20px;
}
.sidebar {
	display: table-cell;
	width: 320px;
	min-width: 320px;
	padding: 20px;
	vertical-align: middle;
}

